In [37]:
import numpy as np 
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt

%matplotlib inline

def count(series):
    print(Counter(list(series)))
    return Counter(list(series))
def trim(series):
    series.replace('^\s+', '', regex=True, inplace=True) #front
    series.replace('\s+$', '', regex=True, inplace=True) #end
def get_valid_numeric(df, series):
    print(df[pd.to_numeric(df[series], errors='coerce').isnull()][series])
    return df[~pd.to_numeric(df[series], errors='coerce').isnull()]
def create_month_day(df):
    df['Month'] = df['Date'].map(lambda x: x.month)
    df['Day'] = df['Date'].map(lambda x: x.day)

In [32]:
df = pd.read_excel('./Pangolin seizures_EIA_030919.xlsx')
print(len(df))
ESTNUM = 'Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers)'
ESTWEIGHT = 'Estimated weight (kg) - If number of whole pangolins reported but weight not given, estimate 5 kg / pangolin \n(rough estimate; median weight for Asian species)'
SCALESWEIGHT = 'Scales weight (kg). Indicate "Y" if seized, but no weight given'
VIA = 'Via (coming from, before seized)'
SCALESWEIGHT = 'Scales weight (kg). Indicate "Y" if seized, but no weight given'

1104

In [22]:
df.columns

Index(['Harvard Style Reference (for external sources), may be supported by other communications and sources',
       'Taxon', 'Type of Incident', 'Location', 'Latitude', 'Longitude',
       'Country', 'Name of incident ', 'Description of incident',
       'Major \n(= or > 500 kg weight / estimated weight /scales weight)',
       'Year', 'Date', 'Transit type', 'Method of Concealment (MoC)',
       'MoC Description ', 'Origin', 'Confirmed/unconfirmed',
       'Via (coming from, before seized)', 'C/UC',
       'Outbound (going to, before seized)', 'C/UC.1', 'Destination', 'C/UC.2',
       'Carcass number', 'Live number',
       'Whole pangolins (live + dead OR reported without details)',
       'Reported weight (kg)',
       'Estimated weight (kg) - If number of whole pangolins reported but weight not given, estimate 5 kg / pangolin \n(rough estimate; median weight for Asian species)',
       'Scales weight (kg). Indicate "Y" if seized, but no weight given',
       'Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers)',
       'Description (if necessary)', 'Outcome', 'Outcome details',
       'Update outcome reference'],
      dtype='object')

In [157]:
df[ESTNUM] = df[ESTNUM].replace(r'^\s*$', np.nan, regex=True)
trim(df['Country'])
trim(df['Origin'])
df['Origin'].replace('', 'Unspecified', inplace=True)
df['Origin'].fillna('Unspecified', inplace=True)

trim(df[VIA])

In [76]:
df.groupby(['Year', 'Country'])[ESTNUM].sum().unstack().T #.to_csv('./tab-year-country-estnum.csv')

In [71]:
df.groupby(['Year'])[ESTNUM].sum()

Year
2000                 2145.0
2001                 3407.0
2002                 1115.0
2003                 1620.0
2004                 2419.0
2005                 2550.0
2006                  707.0
2007                  532.0
2008                 8592.0
2009                 4195.0
2010                 3842.0
2011                 3687.0
2012                 7384.0
2013                10471.0
2014                10462.4
2015                31346.5
2016                28732.5
2017                64167.0
2018                71770.0
2019               110181.6
2009-2015              21.0
2015-2017               NaN
SPLIT 2005-2006       416.0
SPLIT 2010-2011       408.0
SPLIT 2011-2012      1068.0
SPLIT 2012-2014        10.0
SPLIT 2015-2016        58.0
SPLIT 2018-2019       441.0
Name: Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers), dtype: float64

In [73]:
df.groupby(['Country'])[ESTNUM].sum().to_dict()

{'Angola': 895.0,
 'Australia': nan,
 'Belgium': 111.0,
 'Benin': 583.0,
 'Botswana': 6.0,
 'Cambodia': 34.0,
 'Cameroon': 13405.0,
 'Canada': 2.0,
 'China': 45956.140000000007,
 'China - Hong Kong': 57201.0,
 'China - Taiwan': 4411.0,
 'Congo': nan,
 'Côte d’Ivoire': 3742.0,
 'Democratic Republic of Congo': 230.0,
 'France': 354.0,
 'Gabon': 1.0,
 'Germany': 1.0,
 'India': 4319.3999999999996,
 'Indonesia': 8236.0,
 'Japan': 2.0,
 'Kenya': 1197.5,
 'Laos': 87.0,
 'Liberia': 1.0,
 'Malawi': 2.0,
 'Malaysia': 29816.0,
 'Mozambique': nan,
 'Myanmar': 421.0,
 'Namibia': 63.0,
 'Nepal': 1685.8800000000001,
 'Netherlands': nan,
 'Nigeria': 20875.0,
 'Pakistan': 345.0,
 'Philippines': 2249.0,
 'Republic of the Congo (Congo-Brazzaville)': 1798.5,
 'Singapore': 69546.0,
 'South Africa': 40.0,
 'South Sudan': 2.0,
 'Spain': 1.0,
 'Sri Lanka': 145.0,
 'Tanzania': 6000.0,
 'Thailand': 13742.0,
 'Togo': 237.0,
 'Turkey': 1210.0,
 'Uganda': 10231.379999999999,
 'Various': 5669.0,
 'Vietnam': 66791.0,
 'Zambia': 17.199999999999999,
 'Zimbabwe': 86.0}

In [109]:
df.groupby(['Year', 'Origin'])[ESTNUM].sum().unstack().T#.to_csv('./tab-year-origin-estnum.csv')

## Peak during the year (heatmap)

In [87]:
#df[pd.to_datetime(df['Date'], errors='coerce').isnull()]

,"Harvard Style Reference (for external sources), may be supported by other communications and sources",Taxon,Type of Incident,Location,Latitude,Longitude,Country,Name of incident,Description of incident,Major (= or > 500 kg weight / estimated weight /scales weight),...,Live number,Whole pangolins (live + dead OR reported without details),Reported weight (kg),"Estimated weight (kg) - If number of whole pangolins reported but weight not given, estimate 5 kg / pangolin (rough estimate; median weight for Asian species)","Scales weight (kg). Indicate ""Y"" if seized, but no weight given","Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers)",Description (if necessary),Outcome,Outcome details,Update outcome reference
1060,Wenzhou Metropolitan News. 2015.,Pangolin,Seizure,Zhejiang Province,29.1416,119.789,China,"Seizure of 370 pangolins in Zhejiang Province,...","In October 2014, police in Yongjia County, Wen...",Y,...,NaN,370,NaN,1850,NaN,370.0,"At least 3 live pangolins and 130 dead, others...",NaN,NaN,NaN

In [23]:
df_valid_date = df[~pd.to_datetime(df['Date'], errors='coerce').isnull()]

In [24]:
df_valid_date['Date'] = pd.to_datetime(df_valid_date['Date'])

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [122]:
df_valid_date['Month'] = df_valid_date['Date'].map(lambda x: x.month)
df_valid_date['Day'] = df_valid_date['Date'].map(lambda x: x.day)

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/tangruibin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [129]:
df_valid_date.groupby(['Month', 'Day'])[ESTNUM].sum().unstack()#.to_csv('./tab-month-day-estnum.csv')

Day,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
Month,,,,,,,,,,,,,,,,,,,,,
1,8907.0,36.0,3.0,388.0,2083.0,6055.0,31.0,401.0,13.0,154.0,...,4.00,312.0,464.0,3529.0,326.00,20.0,14.0,4276.0,3164.0,32.0
2,809.0,81.0,NaN,1649.0,NaN,66.0,6002.0,1.0,200.0,8.0,...,203.00,11.0,140.0,111.0,9.00,165.0,99.0,5101.0,NaN,NaN
3,1239.0,93.0,365.0,48.0,8495.0,4.0,2801.0,240.0,82.0,74.0,...,180.55,55.0,35.0,8633.0,15.00,607.0,12.0,162.0,NaN,50.0
4,435.0,31.0,36086.0,325.5,260.0,1042.0,80.0,23013.0,2.0,1620.0,...,2.00,290.0,82.0,NaN,586.00,4012.0,2.0,15.0,1.0,NaN
5,5032.0,140.0,3300.0,202.0,123.0,138.0,203.5,57.0,304.0,96.0,...,11.00,5669.0,41.0,5.0,320.00,4.5,1050.0,7216.0,8.0,2.0
6,1871.0,294.0,25.0,172.0,2.0,1124.0,119.0,NaN,228.0,927.0,...,44.00,4007.0,264.0,393.0,603.00,16.0,22.0,10.0,73.0,NaN
7,12852.0,251.0,1040.0,401.0,20.0,636.0,1.0,152.0,591.0,383.0,...,2.00,1471.0,1.0,172.0,1341.00,3000.0,2185.0,17369.0,51.0,77.0
8,4033.0,304.0,234.0,52.0,14.0,NaN,NaN,7.0,11.0,12.0,...,65.00,129.0,2025.0,4449.0,12.38,102.0,986.0,47.0,1790.0,5.0
9,610.0,213.0,NaN,122.0,NaN,149.0,542.0,58.0,2329.0,NaN,...,61.00,62.0,16.0,39.0,131.00,140.0,914.0,NaN,17.0,NaN
10,205.0,6.5,NaN,6001.0,154.0,64.0,407.0,3.0,34.0,355.0,...,193.00,145.3,76.0,4.0,250.00,81.0,5.0,1.0,72.0,166.0
11,49.0,22.0,2745.0,512.0,4.0,320.0,15.0,1.0,182.0,1858.0,...,3265.00,90.2,217.0,12.0,16.00,501.0,NaN,56.0,4.0,NaN
12,460.0,44.0,124.0,1704.0,48.0,NaN,1159.0,615.0,32.0,3101.0,...,1.00,3565.0,102.0,118.0,100.00,NaN,11.0,440.0,210.0,7561.0

## Peak period of Live/Dead/Scales

In [35]:
df_live_date = df_valid_date[pd.notnull(df_valid_date['Live number'])][['Date', 'Live number']]
df_live_date = get_valid_numeric(df_live_date, 'Live number')

df_dead_date = df_valid_date[pd.notnull(df_valid_date['Carcass number'])][['Date', 'Carcass number']]
df_dead_date = get_valid_numeric(df_dead_date, 'Carcass number')

df_scales_date = df_valid_date[pd.notnull(df_valid_date[SCALESWEIGHT])][['Date', SCALESWEIGHT]]
df_scales_date = get_valid_numeric(df_scales_date, SCALESWEIGHT)

In [38]:
create_month_day(df_live_date)
create_month_day(df_dead_date)
create_month_day(df_scales_date)

In [41]:
df_scales_date.groupby(['Month', 'Day'])[SCALESWEIGHT].sum().unstack().to_csv('./tab-month-day-scalesweight.csv')

In [42]:
df_live_date.groupby(['Month', 'Day'])['Live number'].sum().unstack().to_csv('./tab-month-day-livenum.csv')

In [43]:
df_dead_date.groupby(['Month', 'Day'])['Carcass number'].sum().unstack().to_csv('./tab-month-day-carcassnum.csv')

### Is Nigeria so high because of Singapore seizures?

In [131]:
df[df['Origin']== 'Nigeria'][['Country', ESTNUM]]

,Country,"Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers)"
796,China - Hong Kong,7200.0
1055,Singapore,36000.0
1057,Singapore,21000.0

In [137]:
df[df['Country'] == 'Singapore'][ESTNUM].sum()
print(int((21000+36000)/69546*100))

81

### China

In [149]:
df[df['Country'] == 'China'][['Origin',VIA, ESTNUM]].dropna(subset=[VIA])

,Origin,"Via (coming from, before seized)","Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers)"
39,NaN,Vietnam,189
81,NaN,Malaysia,2090
116,NaN,Myanmar,11
126,NaN,Angola,
175,NaN,,2
177,NaN,Myanmar,1
247,NaN,Nepal,139
278,NaN,Africa,40
312,NaN,Macao,1
317,NaN,Vietnam,2
328,NaN,Vietnam,24
330,NaN,Cameroon,30
346,NaN,Vietnam,7
408,NaN,Cameroon,84
417,,Nigeria,2000
425,NaN,Myanmar,7
441,NaN,Nigeria,274
442,NaN,Nigeria,274
514,NaN,"Wuping, Fujian",1
534,,Nigeria,2000
536,NaN,Vietnam (Hoanh Mo),970
539,NaN,"Dongxing, Guangxi, China",1
546,NaN,Vietnam,26
548,NaN,Vietnam,50
551,NaN,"Kunming, China",9
554,NaN,Vietnam,50
566,NaN,Vietnam,12
567,NaN,Vietnam,85
570,NaN,Ethiopia,30
591,NaN,Myanmar,3
...,...,...,...
631,NaN,Japan,1
632,NaN,Japan,1
634,NaN,Vietnam,15
637,NaN,Vietnam,32
646,NaN,Vietnam,6
669,NaN,Myanmar,120
671,NaN,Myanmar,2
673,NaN,Jiaoling,73
674,NaN,"Meizhou, Province of Guangdong, China",130
690,NaN,"Qingdao, Shandong Province",4
695,,Nigeria,58
698,NaN,"Fangchenggang, Guangxi",61
702,NaN,Myanmar,6
713,NaN,Hong Kong,5
714,NaN,Myanmar,
725,NaN,"Ruijin, Jiangxi",1
729,NaN,Nigeria,3100
732,NaN,"Maoming, Guangdong",11
733,NaN,"Maoming, Guangdong",20
735,NaN,Hong Kong,53
744,NaN,Menglian,2
752,NaN,Congo,1
901,Malaysia,"Fujian, China; Guangdong, China",2
960,NaN,Hong Kong,100
967,NaN,Vietnam,16
1051,NaN,Vietnam,176.55
1054,NaN,Vietnam,25
1060,NaN,Vietnam,370
1085,NaN,Vietnam - Online,1
1097,NaN,Hong Kong,0.29

In [158]:
df[df['Country'] == 'China'].groupby(VIA).sum()[ESTNUM].sort_values(ascending=False)

Via (coming from, before seized)
Nigeria                                                 7706.00
Malaysia                                                2090.00
Vietnam                                                 1141.55
Vietnam (Hoanh Mo)                                       970.00
Hong Kong                                                158.29
Myanmar                                                  151.00
Nepal                                                    139.00
Meizhou, Province of Guangdong, China                    130.00
Cameroon                                                 114.00
Jiaoling                                                  73.00
Fangchenggang, Guangxi                                    61.00
Africa                                                    40.00
Maoming, Guangdong                                        31.00
Ethiopia                                                  30.00
Futian District, Shenzhen, Guangdong Province, China      18.00
Kunming, China                                             9.00
Guangxi, China                                             7.00
Qingdao, Shandong Province                                 4.00
Fujian, China; Guangdong, China                            2.00
                                                           2.00
Japan                                                      2.00
Menglian                                                   2.00
Vietnam - Online                                           1.00
Macao                                                      1.00
Dongxing, Guangxi, China                                   1.00
Congo                                                      1.00
Ruijin, Jiangxi                                            1.00
Wuping, Fujian                                             1.00
Angola                                                      NaN
Name: Estimated number of pangolins from whole and/or scales together (for scales, rough estimate of 1 kg scales per 5 kg animal) REFERENCE: COLUMN AB OR COLUMN AE. (If scales co-occur with whole pangolins, judge on case-by-case basis but do not duplicate numbers), dtype: float64

In [159]:
df[df['Country'] == 'China'][ESTNUM].sum()

45956.14000000001

In [160]:
df[df['Country'] == 'China'].groupby(VIA).sum()[ESTNUM].sum()

12886.84