### Sum weight and items

In [57]:
import numpy as np
import pandas as pd
from collections import Counter
def count(series):
    s = pd.DataFrame.from_dict(Counter(list(series)), orient='index')
    s.columns = ['count']
    return s
def print_tsv(series):
    for index, value in series.items():
        print('{}\t{}'.format(index, value))
def print_csv(series):
    for index, value in series.items():
        print('{},{}'.format(index, value))
def get_valid_numeric(df, series):
    print(df[pd.to_numeric(df[series], errors='coerce').isnull()][series])
    return df[~pd.to_numeric(df[series], errors='coerce').isnull()]

In [9]:
df = pd.read_csv('./joined-379-seizures.csv', dtype={'seizure-year': object, 'seizure-month': object, 'seizure-day': object})
print(df.columns)
print(len(df))

Index(['Unnamed: 0', 'id', 'judgement-year', 'seizure-year', 'seizure-month',
       'seizure-day', 'taxons', 'via', 'form', 'term', 'quantity', 'unit',
       'memo'],
      dtype='object')
379

In [33]:
print_tsv(count(df['seizure-year'])['count'])

2013	53
2012	19
2011	6
2015	66
2014	63
2010	3
2005	3
2009	8
2016	62
2006	2
nan	5
2008	4
2001	1
2004	1
2019	1
2018	36
2017	46

### seizure amount in number by year

In [55]:
df_num = pd.read_csv('./joined-seizure-flat-item-value.csv', dtype={'seizure-year': object, 'seizure-month': object, 'seizure-day': object})
df_num = df_num[(pd.notnull(df_num['final value'])) & (pd.notnull(df_num['seizure-year']))]
df_num = get_valid_numeric(df_num, 'final value')
print(len(df_num))

Series([], Name: final value, dtype: float64)
401

In [58]:
print_csv(df_num.groupby('seizure-year').sum()['final value'])

2001,5.0
2004,154.0
2005,25.0
2006,140.0
2008,19.0
2009,641.0
2010,4.0
2011,177.0
2012,278.0
2013,1587.0
2014,4225.0
2015,7061.0
2016,1687.0
2017,203.0
2018,63.0
2019,1.0

### peak period of seizure, by amount

In [63]:
df_num.groupby(['seizure-month', 'seizure-day']).sum()['final value'].unstack()#.to_csv('./tab-month-day-amount.csv')

seizure-day,1,10,11,12,13,14,15,16,17,18,...,29,3,30,31,4,5,6,7,8,9
seizure-month,,,,,,,,,,,,,,,,,,,,,
1,17.0,89.0,122.0,NaN,126.0,NaN,8.0,453.0,NaN,10.0,...,4.0,84.0,NaN,5.0,4.0,2.0,NaN,NaN,NaN,14.0
10,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,1.0,7.0,10.0,1.0,NaN,NaN,NaN,2.0
11,NaN,1.0,NaN,41.0,NaN,1.0,2.0,NaN,2.0,NaN,...,1.0,NaN,NaN,NaN,1.0,24.0,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,6.0,NaN,NaN,10.0,NaN,21.0,25.0,...,NaN,NaN,NaN,NaN,5.0,6.0,6.0,1.0,NaN,623.0
2,NaN,2.0,1.0,NaN,1.0,NaN,12.0,NaN,166.0,3.0,...,1.0,NaN,NaN,NaN,NaN,154.0,10.0,NaN,NaN,234.0
3,57.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,1.0,2.0,1.0,1.0,2.0,NaN,6.0
4,38.0,36.0,657.0,6.0,NaN,NaN,1.0,2.0,3.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,2.0,170.0,38.0,367.0
5,10.0,1.0,1790.0,960.0,13.0,1.0,4.0,2.0,3.0,NaN,...,NaN,NaN,NaN,NaN,6.0,2.0,3.0,6.0,NaN,NaN
6,NaN,NaN,15.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,4.0,NaN,6.0,NaN,53.0,29.0,57.0,2.0,6.0,1.0
7,NaN,NaN,NaN,NaN,NaN,1.0,3.0,318.0,10.0,7.0,...,NaN,22.0,NaN,49.0,11.0,NaN,NaN,14.0,NaN,NaN
8,6.0,NaN,NaN,NaN,2.0,NaN,1.0,NaN,34.0,NaN,...,NaN,4.0,2.0,41.0,2.0,NaN,NaN,1.0,NaN,63.0
9,2.0,NaN,42.0,NaN,122.0,5348.0,NaN,NaN,8.0,NaN,...,38.0,6.0,1.0,NaN,7.0,3.0,6.0,NaN,NaN,1.0

In [67]:
len(df[pd.notnull(df['seizure-month']) & pd.notnull(df['seizure-day'])])

347

In [68]:
347  / len(df) * 100

91.55672823218998